@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

/* div1 */

body{
    min-width: fit-content;
}


#div1{
    height: 100%;
    width: 35%;
 background-color:#303642;

 }
 
 #div2{
     height: 100%;
     width: 65%;
  background-color:white;
 }


#sub-div1,#sub-div2,#sub-div3,#sub-div4{
    width: 100%;
    padding-left: 50px;
    padding-top: 100px;
    width: auto;
    padding-right:20px ;
}

#sub-div2 ul{
   padding-left: 30px; 
}

#sub-div2{
color: #fff;
font-weight: 500;
font-size: 18px;
}



.heading{
color: #38B6FF;
font-size: 36px;
font-weight: 500;
padding-bottom: 10px;
}

.icon{
    color: #38B6FF;
}
#a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-style: none;
    text-decoration: none;
    padding-left:10px;
}

#ul1 li{
    margin-bottom: 10px;
    list-style: none;
    width: auto;
}

#ul2 li{
    margin-bottom: 10px;
    list-style: none;
    width: auto;
}

#ul3 li{
    margin-bottom: 10px;
    list-style: none;
    width: auto;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ul4 li{
    margin-bottom: 10px;
    list-style: none;
    width: auto;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sub-div2 p{
    padding-bottom: 10px;
    font-weight: bolder;
    display: flex;
    align-items: flex-start;
}


#main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1600px;
}


#sub-div3 ,#sub-div4 {
    display: flex;
    flex-direction: column;
}


#sub-div3 li,#sub-div4 li{
    font-weight: 700;
    display: flex;
    justify-content:space-between;
    margin-right: 30px;
}


/* div2 */


#div2{
    padding:0px 20px 0 50px ;
}

#name{
    font-size: 120px;
    font-weight: bolder;
    color:#303642;
}

#Sname{
    font-size: 100px;
    font-weight: 500;
    margin-top: -40px;
    color:#303642;
}

.p1{
    color: #303642;
    font-size: 28px;
    font-weight: 500;
}

.p2{
    color: #303642;
    font-size: 40px;
    font-weight: 700;
}

#obj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    display: flex;
    font-size: 35px;
}



#div3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#n{
 padding-top: 50px;   
}

#bar1{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 500px solid #38B6FF;border-radius: 2px;
}

#bar2{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 250px solid #38B6FF;border-radius: 2px;
}

#bar3{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 500px solid #38B6FF;border-radius: 2px;
}

#obj1,#obj2,#obj3{display: flex;
align-items: center;
justify-content: space-between;

}

#c{
    height: 5px;width: 15px;background-color: aliceblue;border-left: 85px solid #38B6FF;border-radius: 2px;
}
#html{
    height: 5px;width: 05px;background-color: aliceblue;border-left: 95px solid #38B6FF;border-radius: 2px;
}
#css{
    height: 5px;width: 05px;background-color: aliceblue;border-left: 95px solid #38B6FF;border-radius: 2px;
}
#js{
    height: 5px;width: 15px;background-color: aliceblue;border-left: 85px solid #38B6FF;border-radius: 2px;
}
#react{
    height: 5px;width: 10px;background-color: aliceblue;border-left: 90px solid #38B6FF;border-radius: 2px; 
}

#node{
    height: 5px;width: 10px;background-color: aliceblue;border-left: 90px solid #38B6FF;border-radius: 2px;
}
#express{
    height: 5px;width: 15px;background-color: aliceblue;border-left: 85px solid #38B6FF;border-radius: 2px;   
}
#sql{
    height: 5px;width: 10px;background-color: aliceblue;border-left: 90px solid #38B6FF;border-radius: 2px;
}

#english{height: 5px;width: 10px;background-color: aliceblue;border-left: 90px solid #38B6FF;border-radius: 2px;}

#hindi{height: 5px;width: 0px;background-color: aliceblue;border-left: 100px solid #38B6FF;border-radius: 2px;}



@media(max-width:800px){

    #sub-div1,#sub-div2 ,#sub-div3,#sub-div4{
        padding-right: 0px;
        padding-left: 20px;

         }
        


    #sub-div1 a{
padding-right: 0px;
padding-left: 10px;
width: auto;
font-size:12px ;
 }

 #sub-div3 li , #sub-div4 li{
font-size: 18px;
 }

 #name{
    font-size: 80px;
 }

 #Sname{
    font-size: 60px;
    margin-top: -20px;
 }

#bar1{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 250px solid #38B6FF;border-radius: 2px;
}
#bar2{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 35px solid #38B6FF;border-radius: 2px;

}
#bar3{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 250px solid #38B6FF;border-radius: 2px;
}

#obj1,#obj2,#obj3{
    font-size: 35px;
}


#exp{
    font-size: 24px;
    padding-left: 20px;
}


#wd
{
    font-size: 28px;
}

#skills,#hobbies{
    font-size: 22px;
}


#ps,#objtv{
    font-size: 24px;
}

}





@media(max-width:450px){


    #main{
        display: flex;
        align-items: center;
        width: 100%;
        height: 820px;
    }

    .heading {
        color: #38B6FF;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }

    #sub-div1, #sub-div2, #sub-div3, #sub-div4{

        padding-top: 40px;
        padding-left: 5px;
    }

    #ul1{
        font-size: 5px;
    }

    #sub-div1 a{
        padding-right: 0px;
        padding-left: 10px;
        width: auto;
        font-size:5.5px ;
         }

#name{
    margin-top: -20px;
    font-size: 40px;
}

#Sname{
    font-size: 35px;
}

#div2{
    padding-left: 10px;
}

#bar1{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 100px solid #38B6FF;border-radius: 2px;
}
#bar2{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 15px solid #38B6FF;border-radius: 2px;

}
#bar3{
    height: 5px;width: 0px;background-color: aliceblue;border-left: 100px solid #38B6FF;border-radius: 2px;
}
    
#sub-div2 p{
    font-size: 8px;
}

.cgpa{
    font-size: 8px;   
}

#sub-div3 li , #sub-div4 li{
    font-size: 10px;
margin: 0 15px 0 0 ;
}

    #c{
        height: 5px;width: 7.5px;background-color: aliceblue;border-left: 42.5px solid #38B6FF;border-radius: 2px;
    }
    #html{
        height: 5px;width: 2.5px;background-color: aliceblue;border-left: 47.5px solid #38B6FF;border-radius: 2px;
    }
    #css{
        height: 5px;width: 2.5px;background-color: aliceblue;border-left: 47.5px solid #38B6FF;border-radius: 2px;
    }
    #js{
        height: 5px;width: 7.5px;background-color: aliceblue;border-left: 42.5px solid #38B6FF;border-radius: 2px;
    }
    #react{
        height: 5px;width: 5px;background-color: aliceblue;border-left: 45px solid #38B6FF;border-radius: 2px; 
    }
    
    #node{
        height: 5px;width: 5px;background-color: aliceblue;border-left: 45px solid #38B6FF;border-radius: 2px;
    }
    #express{
        height: 5px;width: 7.5px;background-color: aliceblue;border-left: 43.5px solid #38B6FF;border-radius: 2px;   
    }
    #sql{
        height: 5px;width: 5px;background-color: aliceblue;border-left: 45px solid #38B6FF;border-radius: 2px;
    }

    #english{height: 5px;width: 5px;background-color: aliceblue;border-left: 45px solid #38B6FF;border-radius: 2px;}

    #hindi{height: 5px;width: 0px;background-color: aliceblue;border-left: 50px solid #38B6FF;border-radius: 2px;}

    #obj1,#obj2,#obj3,#us{
        font-size: 18px;
    }

    #ps,#objtv{
        font-size: 12px;
    }

    #wd
    {
        font-size: 14px;
    }
    
    #skills,#hobbies{
        font-size: 12px;
    }

    #exp{
        font-size: 12px;
        padding-left: 20px;
    }

    #n{
        padding-top: 40px;
    }

    #hobby{
        font-size: 20px;  
    }
#skill{
    font-size: 20px; 
}
#div2{
    padding-right: 5px;
}

#div3{
    margin-top: 10px;
}

}


